/* add your CSS here */
.animal-card-container {
    width: 300px;
    border: 1px solid black;
    background-color: #f0b9a6;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.animal-name {
    border: 1px groove black;
    padding: 5px;
    background-color: black;
    text-align: center;
    color:white
}

.animal-picture {
    width: 300px;
    border: 1px solid black;
    background-color: #f4cabc;
}

.animal-fact {
    font-style: italic;
    border: 1px solid grey;
    padding: 5px;
    background-color: #f4cabc;

}

.animal-list {
    list-style-type: none;
    border: 1px solid grey;
    padding: 5px;
    background-color: #f4cabc;

}

.animal-list-label {
    font-weight: bold;
    background-color: #f4cabc;

}

.animal-descr {
    border: 1px solid grey;
    padding: 5px;
    background-color: #f4cabc;

}